@import "tailwindcss";

/* Feste Definition für dunkles Layout */
:root {
  --background: #0a0e17;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
